[submodule "submodules/fenix-ui-catalog"]
	path = submodules/fenix-ui-catalog
	url = https://github.com/FENIX-Platform/fenix-ui-catalog
[submodule "submodules/fenix-ui-data-management"]
	path = submodules/fenix-ui-data-management
	url = https://github.com/FENIX-Platform/fenix-ui-data-management
[submodule "submodules/fenix-ui-metadata-editor"]
	path = submodules/fenix-ui-metadata-editor
	url = https://github.com/FENIX-Platform/fenix-ui-metadata-editor
[submodule "submodules/fenix-ui-DataEditor"]
	path = submodules/fenix-ui-DataEditor
	url = https://github.com/FENIX-Platform/fenix-ui-DataEditor
[submodule "submodules/fenix-ui-dataUpload"]
	path = submodules/fenix-ui-dataUpload
	url = https://github.com/FENIX-Platform/fenix-ui-dataUpload
[submodule "submodules/fenix-ui-DSDEditor"]
	path = submodules/fenix-ui-DSDEditor
	url = https://github.com/FENIX-Platform/fenix-ui-DSDEditor
[submodule "submodules/fenix-ui-metadata-viewer"]
	path = submodules/fenix-ui-metadata-viewer
	url = https://github.com/FENIX-Platform/fenix-ui-metadata-viewer
[submodule "submodules/fenix-ui-reports"]
	path = submodules/fenix-ui-reports
	url = https://github.com/FENIX-Platform/fenix-ui-reports
[submodule "submodules/fenix-ui-datamanagement-commons"]
	path = submodules/fenix-ui-datamanagement-commons
	url = https://github.com/FENIX-Platform/fenix-ui-datamanagement-commons.git
[submodule "submodules/fenix-ui-filter"]
	path = submodules/fenix-ui-filter
	url = https://github.com/FENIX-Platform/fenix-ui-filter.git
