[submodule "submodules/fenix-ui-common"]
	path = submodules/fenix-ui-common
	url = ../fenix-ui-common
[submodule "submodules/fenix-ui-olap"]
	path = submodules/fenix-ui-olap
	url = ../fenix-ui-olap
[submodule "submodules/fenix-ui-menu"]
	path = submodules/fenix-ui-menu
	url = ../fenix-ui-menu
[submodule "submodules/fenix-ui-catalog"]
	path = submodules/fenix-ui-catalog
	url = https://github.com/FENIX-Platform/fenix-ui-catalog
[submodule "submodules/fenix-ui-data-management"]
	path = submodules/fenix-ui-data-management
	url = https://github.com/FENIX-Platform/fenix-ui-data-management
[submodule "submodules/fenix-ui-metadata-editor"]
	path = submodules/fenix-ui-metadata-editor
	url = https://github.com/FENIX-Platform/fenix-ui-metadata-editor
[submodule "submodules/fenix-ui-DataEditor"]
	path = submodules/fenix-ui-DataEditor
	url = https://github.com/FENIX-Platform/fenix-ui-DataEditor
[submodule "submodules/fenix-ui-dataUpload"]
	path = submodules/fenix-ui-dataUpload
	url = https://github.com/FENIX-Platform/fenix-ui-dataUpload
[submodule "submodules/fenix-ui-DSDEditor"]
	path = submodules/fenix-ui-DSDEditor
	url = https://github.com/FENIX-Platform/fenix-ui-DSDEditor
[submodule "submodules/fenix-ui-metadata-viewer"]
	path = submodules/fenix-ui-metadata-viewer
	url = https://github.com/FENIX-Platform/fenix-ui-metadata-viewer
[submodule "submodules/fenix-ui-reports"]
	path = submodules/fenix-ui-reports
	url = https://github.com/FENIX-Platform/fenix-ui-reports
[submodule "submodules/json-editor-faostat-theme"]
	path = submodules/json-editor-faostat-theme
	url = https://github.com/FAOSTAT/json-editor-faostat-theme
