<h1>{{title}}</h1>
<hr>
<div class="row">
    <div class="col-xs-12">
        <div class="row">

            <div class="col-md-6">

                <div class="download-item">

                    <div class="row">
                        <div class="row-height">
                            <div class="col-xs-3 col-height col-top">
                                <span class="icon icojam_zip"></span>
                            </div>
                            <div class="col-xs-9 col-height col-middle">
                                <h1>Complete</h1>

                                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mattis, sem nec
                                    ultrices tristique, tortor elit faucibus sapien, vel cursus tellus nisl quis mauris.
                                    Proin dolor libero, porta sed suscipit eget, blandit auctor erat. Nunc porttitor,
                                    nisi nec ornare vulputate, nulla erat finibus ex, nec varius enim justo quis nibh.
                                    Donec urna augue, maximus ut augue id, pretium luctus quam. Mauris dapibus in urna
                                    nec malesuada. Suspendisse tincidunt semper nunc, non rutrum ex pellentesque vitae.
                                    Sed ut condimentum orci, tincidunt fermentum mauri</P>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3">

                        </div>
                        <div class="col-xs-9">

                            <a href="http://fenixrepo.fao.org/data/rlm/complete.zip" target="_blank"><button class="btn pull-right btn-default">Download</button></a>
                            <br>
                            <br>
                            <br>

                        </div>
                    </div>

                </div>

            </div>

            <div class="col-md-6">

                <div class="download-item">

                    <div class="row">
                        <div class="row-height">
                            <div class="col-xs-3 col-height col-top">
                                <span class="icon icojam_zip"></span>
                            </div>
                            <div class="col-xs-9 col-height col-middle">
                                <h1>External</h1>

                                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mattis, sem nec
                                    ultrices tristique, tortor elit faucibus sapien, vel cursus tellus nisl quis mauris.
                                    Proin dolor libero, porta sed suscipit eget, blandit auctor erat. Nunc porttitor,
                                    nisi nec ornare vulputate, nulla erat finibus ex, nec varius enim justo quis nibh.
                                    Donec urna augue, maximus ut augue id, pretium luctus quam. Mauris dapibus in urna
                                    nec malesuada. Suspendisse tincidunt semper nunc, non rutrum ex pellentesque vitae.
                                    Sed ut condimentum orci, tincidunt fermentum mauri</P>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3">

                        </div>
                        <div class="col-xs-9">

                            <a href="http://fenixrepo.fao.org/data/rlm/external.zip" target="_blank"><button class="btn pull-right btn-default">Download</button></a>
                            <br>
                            <br>
                            <br>

                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-md-6">

                <div class="download-item">

                    <div class="row">
                        <div class="row-height">
                            <div class="col-xs-3 col-height col-top">
                                <span class="icon icojam_zip"></span>
                            </div>
                            <div class="col-xs-9 col-height col-middle">
                                <h1>Household Surveys</h1>

                                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mattis, sem nec
                                    ultrices tristique, tortor elit faucibus sapien, vel cursus tellus nisl quis mauris.
                                    Proin dolor libero, porta sed suscipit eget, blandit auctor erat. Nunc porttitor,
                                    nisi nec ornare vulputate, nulla erat finibus ex, nec varius enim justo quis nibh.
                                    Donec urna augue, maximus ut augue id, pretium luctus quam. Mauris dapibus in urna
                                    nec malesuada. Suspendisse tincidunt semper nunc, non rutrum ex pellentesque vitae.
                                    Sed ut condimentum orci, tincidunt fermentum mauri</P>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3">

                        </div>
                        <div class="col-xs-9">

                            <a href="http://fenixrepo.fao.org/data/rlm/household_surveys.zip" target="_blank"><button class="btn pull-right btn-default">Download</button></a>
                            <br>
                            <br>
                            <br>

                        </div>
                    </div>

                </div>

            </div>

            <div class="col-md-6">

            </div>
        </div>
    </div>
</div>