<!-- Logo + Contacts -->
<div class="row intro-text">
    <div class="hidden-xs intro-logo-holder col-sm-3">
        <div><img class="voh-logo-blue" src='src/images/voh-logo-blue.svg'></div>
    </div>
    <div class="col-xs-12 col-sm-9 ">
        <div class="row">
            <div class="col-xs-1">
                {{{ home_header_contacts }}}
            </div>
            <div class="col-xs-3">
                <b>Piero Conforti</b> <br>
                <p>Delivery Manager,</p> <br>
                <p>Statistics Division (ESS)</p> <br>
                <p>Email: Piero.Conforti@fao.org</p> <br>
            </div>
            <div class="col-xs-3">
                <b>Piero Conforti</b> <br>
                <p>Delivery Manager,</p> <br>
                <p>Statistics Division (ESS)</p> <br>
                <p>Email: Piero.Conforti@fao.org</p> <br>
            </div>
            <div class="col-xs-5">
                <b>More information</b> <br>
                <p>http://www.fao.org/about/what-we-do/so3orti@fao.org</p>
            </div>
        </div>

    </div>
</div>

<!--Welcome text -->
<div class="row home-main-content">

    <!--  Why a rural livelihood monitor column -->
    <div class="col-xs-3">
        <h1> {{ home_welcome_title }}</h1>
    </div>

</div>

<!-- Why a rural livelihood monitor column + Map -->
<div class="row home-main-content">

    <!--  Why a rural livelihood monitor column -->
    <div class="col-xs-3">
        Column
    </div>
    <!--  Map -->
    <div class="col-xs-9">
        <div id="pie-chart-main"></div>
        <div id="pie-chart-prevalence"></div>
    </div>
</div>

<!-- Database updates + In practice-->
<div class="row home-main-content">
    <!-- Database upadate-->
    <div class="col-xs-3">
        <h1> {{ database_update_title }}</h1>
        <div class="db-updates-list-holder">
            <ul id="db-updates-list" class="db-updates-list"></ul>
        </div>
    </div>
    <div class="col-xs-9">
       In Practice
    </div>
</div>

<br><br>