<!-- Logo + Contacts -->
<div class="row intro-text">
    <div class="col-sm-3">
        <h1>Rural Livelihoods Monitor</h1>
    </div>
    <div class="col-sm-3">
        <h2>Overall Goal</h2>

        <p>Shed light on where and how poor people make a living in rural areas, to help improving their condition.</p>
    </div>
    <div class="col-sm-3">
        <h2>Making a difference</h2>

        <p>The Rural Livelihoods Monitor brings together data and indicators on agriculture and rural development
            relevant for the monitoring of rural poverty and inequalities and rural livelihood conditions more in
            general.</p>
    </div>
    <div class="col-sm-3">
        <h2>Scope for doing more and better</h2>

        <p>The Rural Livelihoods Monitor provides information that helps improving the well-being of rural poor people
            around the world resulting in an innovative combination of different outcomes.</p>
    </div>

</div>

<br>

<!--Welcome text -->
<div class="row home-main-content">

        <!--  Why a rural livelihood monitor column -->
        <div class="col-sm-4 ">


            <b>Why a rural livelihood monitor?</b><br><br>

            <p class="text-justify">There’s a compelling argument for developing and implementing strategies to reduce
                rural poverty. An
                estimated
                75 per cent of the world’s poor who are living on less than $1.25 per day reside in rural areas. While
                also
                rural poverty seems to have declined significantly worldwide in recent decades, the likelihood of being
                poor
                when living in rural areas in developing countries is more than 2.5 times larger than for people living
                in
                cities and this gap has not narrowed over time, according to recent World Bank estimates.</p>


            <p class="text-justify">We need to improve our understanding of the situation on the ground. But how to
                define appropriate
                indicators
                across sectors and these multiple dimensions is still subject to a wide debate.</p>

            <p class="text-justify">The Rural Lively Monitor will allow observing progress towards the five Strategic
                Objectives of FAO. Its
                approach is set up along the lines of the FAO’s strategic programme in support of rural poverty
                reduction,
                which
                is Strategic Objective 3.</p>

        </div>

        <div class="col-sm-8 home-map-container">

            <h5>AVAILABLE DATA</h5>

            <!--
            <div class="chart-container">

                <div class="home-stats"><h5>MAIN</h5>

                    <div id="pie-chart-main" class="pie-container"></div>
                </div>
                <div class="home-stats"><h5>PREVALENCE</h5>

                    <div id="pie-chart-prevalence" class="pie-container"></div>
                </div>
            </div>
            -->

            <div class="home-map-legenda">

                <ul class="list-inline">
                    <li>NO DATA</li>
                    <li>EXTERNAL DATA SOURCE</li>
                    <li>HOUSEHOLD SURVEY DATA + EXTERNAL DATA SOURCE</li>
                </ul>

            </div>

        </div>

</div>

<br><br>

<div class="row home-main-content">

        <div class="col-sm-9 home-practice-container">

            <div class="practice-content">
                <h1>In practice</h1>

                <p class="text-justify">Adequate disaggregation of data is critical. As much as possible, indicators are
                    identified by areas and regions within countries and by socio-demographic and economic
                    characteristics of population groups, in particular by income quintiles, gender groups, farm size,
                    and participation in agriculture.</p>

                <p class="text-justify">The indicators of the RLM are organized in nine groups:</p>

                <div class="row home-practice-pillars">
                    <div class="col-sm-6">
                        <ul>
                            <li>Employment, Health and Education</li>
                            <li>Land and Natural Resources</li>
                            <li>Livestock</li>
                            <li>Infrastructure and Services</li>
                            <li>Inputs and Technology</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul>
                            <li>Income, Productivity and inequality</li>
                            <li>Social Protection</li>
                            <li>Community Characteristics</li>
                            <li>Household Characteristics</li>
                        </ul>
                    </div>


                </div>
            </div>

        </div>

        <div class="col-xs-3">

            <div class="row">
                <div class="col-sm-12">
                    <h5 class="upper">Documentation</h5>
                    <a href="static/RLM_Methodological_Note.pdf" target="_blank">Methodological Notes</a>
                </div>
            </div>
                            <hr>
            <div class="row home-contacts">
                <div class="col-sm-12">
                    <h5 class="upper">{{{ home_header_contacts }}}</h5>

                    <ul class="list-unstyled">
                        <li >
                            <a href="mailto:piero.conforti@fao.org">
                                Piero Conforti
                                    <small>Delivery Manager</small>

                            </a>

                        </li>
                        <li >
                            <a href="mailto:Erdgin.Mane@fao.org">Erdgin Mane</a>
                        </li>

                    </ul>

                </div>

            </div>

        </div>


</div>

<br><br><br><br>