<!-- Section switcher-->
<div class="rlm-result w2">

    <button data-download="csv">CSV</button>

    <button data-download="xls">XLS</button>

    <button data-control="remove">Remove Me</button>

    <div data-role="pivot-container"></div>

</div>