<!-- Result -->

<div class="rlm-result w2">
    <div class="fx-handle"></div>
    <div class="fx-dataset-details-container">
        <span class="fx-dataset-details truncate"></span>
    </div>
    <div class='fx-widget' role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" data-role="fx-module-tabs">

            <!-- Left buttons-->
            <li ><a data-control="metadata" ><span class="fx-widget-icons icojam_button_delete_1">Metadata</span></a>
            </li>
            <li ><a data-download="csv" ><span class="fx-widget-icons icojam_button_delete_1">CSV</span></a>
            </li>
            <li ><a data-download="xls" ><span class="fx-widget-icons icojam_button_delete_1">XLS</span></a>
            </li>
            <!-- Right buttons-->
            <li class="pull-right"><a data-control="remove" ><span class="fx-widget-icons icojam_button_delete_1"></span></a>
            </li>

        </ul>

        <div class="tab-content" data-role="fx-module-content">

            <div data-role="pivot-container"></div>

        </div>
    </div>

</div>