<!-- Section switcher-->
<div class="row">
    <div class="col-xs-12">
        <ul class="voh-section-switcher">
            <li class="active"><a href="#download/survey"> {{ section_survey}}</a></li>
            <li ><a href="#download/country">{{ section_country }}</a></li>
        </ul>
    </div>
</div>


<!-- Selectors container -->
<div class="download-selectors-container"></div>

<!-- Toolbar -->
<div class="row">
    <div class="col-xs-12 voh-vis-buttons-holder">
        <button id="table-go-btn" class="btn  btn-table-go pull-right"> {{ go_btn }}</button>
        <button id="table-reset-btn" class="btn  btn-reset pull-right"> {{ reset_btn }}</button>
    </div>
</div>

<!-- Error Holder -->
<div class="row">
    <div class="col-xs-12">
        <div class="error-holder"></div>
    </div>
</div>

<!-- Results container -->
<div class="row">
    <div class="col-xs-12">
        <div id="results-container">
            <div id="pivot1"></div>
        </div>
    </div>
</div>